<!DOCTYPE html>
<html>
<% var data = htmlWebpackPlugin.options.indexData %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="<%=data.BASE_STATIC %>/static/favicon.png">
    <title>Sas Docs</title>
  </head>
  <body>
  <div id="app" class="clear_app"></div>
  <script>
  var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
